.background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    & > .modal {
        z-index: 2;
        position: relative;
        background-color: var(--background);
        border-radius: 0.5rem;

        & > svg {
            color: var(--grey-scale-7);
            position: absolute;
            top: 0.75em;
            right: 1em;
            width: 24px;
            height: 24px;
            opacity: 0.3;

            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    min-width: 25rem;

    width: 25%;

    padding: 2rem;

    border-radius: 0.5rem;

    box-shadow: 0 5px 10px 2px var(--dark-elevation);

    &-horizontal {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        gap: 1rem;

        width: 100%;

        & > div {
            flex-grow: 1;
        }
    }

    & .right-btn {
        padding: 0.875rem 1rem;
    }

    &-field {
        display: flex;
        flex-direction: column-reverse;

        & > label {
            font-size: 0.875rem;
            font-weight: 600;
            color: var(--grey-scale-7);
            margin-left: 0.5rem;
        }

        & > input:focus ~ label {
            color: var(--grey-scale-10);
        }

        position: relative;

        & > svg {
            position: absolute;

            right: 1rem;
            top: 50%;
        }
    }

    &-member {
        &-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            flex-wrap: wrap;

            color: var(--grey-scale-7);
            gap: 0.5rem;
        }

        border: 1px solid var(--grey-scale-7);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 0.5rem;

        & > svg:hover {
            cursor: pointer;
        }
    }
}

.modal-form-logout {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 2rem 5rem;

    & h2 {
        font-weight: 500;
        font-size: 1.25rem;
        color: var(--grey-scale-7);
        margin-bottom: 1rem;
    }

    &-btns {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        & input {
            padding: 0.5rem 1rem;
        }
    }
}
